<template>
    <div id='dev'>
      <a href="https://bitbucket.org/Waffle552/"><img class="icon" src="@/assets/bitbucket.png"></a>
      <a href="https://unity3d.com"><img class="icon" src="@/assets/unity.png"></a>
    </div>
</template>

<script>
export default {
  name: 'dev'

}
</script>

<style>
   .icon{
    width: 150px;
    height: auto;
    
  }
</style>
