<template>
  <div id="ELA">
    <h1>2017-2018</h1>
    <div class="frames">
      <iframe
        src="https://docs.google.com/document/d/e/2PACX-1vSpo_8JWY27rLjPxhnXdr9TMX6zBpl2_F0QhBoSlAtqervFzZZrvPxc5KfXPRM2tz9AR3eOoON499Nq/pub?embedded=true"
        width="960"
        height="569"
      ></iframe>
      <iframe
        src="https://docs.google.com/document/d/e/2PACX-1vTzyoaP6fMrnNdJnBRjuXkjRb5HxQUn5VDAVXp4qsjy7Q28HQN-pI_RX93KTop-sM10XqtZHhsgU8bE/pub?embedded=true"
        width="960"
        height="569"
      ></iframe>
    </div>
    <h1>2018-2019</h1>
    <div class="frames">
      <iframe
        src="https://docs.google.com/presentation/d/e/2PACX-1vRyMI8BNLZnQ7A2RrhzWjPt-Fo3Astz1V4ZBmaBD0yov3HKwA_H5gGQTT1-Cm_pskFNZKUznnL9yyo6/embed?start=false&loop=false&delayms=3000"
        frameborder="0"
        width="960"
        height="569"
        allowfullscreen="true"
        mozallowfullscreen="true"
        webkitallowfullscreen="true"
      ></iframe>
      <h2>The Mark of Athena</h2>
      <br>
      <iframe
        src="https://docs.google.com/presentation/d/e/2PACX-1vQfHxbQp-82k867IKesuG7cpXrTIDVDLuqEuNRd2ZB64o2aWeE_Ltrbk4TyEMWAL5-GOUZ-1y98zYc1/embed?start=false&loop=false&delayms=3000"
        frameborder="0"
        width="960"
        height="569"
        allowfullscreen="true"
        mozallowfullscreen="true"
        webkitallowfullscreen="true"
      ></iframe>
      <br>
      <a
        href="https://docs.google.com/document/d/1bAuUlsNu3cvDGUeH0WqZ7tRp2WJo7jd9m1vg4o04Jws/edit?usp=sharing"
      >Report</a>
      <br>
      <iframe
        class="googleDoc"
        src="https://docs.google.com/document/d/e/2PACX-1vRC0-fkxtmHl3uEsVp0cdCR0AlA5mmxLEIot1sMI_DQhXYlXW3nCbwRivsUthq4UtgHDqYzBMEEkL7B/pub?embedded=true"
      ></iframe>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ela'
}
</script>

<style>
.frames {
  text-align: center;
}
.frames > iframe {
  margin: 20px;
}
#ELA {
  padding-bottom: 500px;
}
.googleDoc {
  width: 8.5in;
  height: 11in;
}
</style>
