<template>
  <div id="science">
    <h1>2017-2018 Science</h1>
    <div class="scienceFrames">
      <iframe
        src="https://docs.google.com/presentation/d/e/2PACX-1vTirdMtLj6HO9Wyah8Ws_rfjXe6kFUWQ0n7dpgtVpNEV22dnIbQrcz2Jshk7qGm5oOKHBxRwq-_Bc69/embed?start=true&loop=true&delayms=3000"
        width="960"
        height="569"
        allowfullscreen="true"
        mozallowfullscreen="true"
        webkitallowfullscreen="true"
      ></iframe>
      <iframe
        src="https://docs.google.com/presentation/d/e/2PACX-1vRpuhWwZiFsA-SNstre9dxIkLhKqj5DJnpaOo5gQPQ6derp-3QpOqArJpbl_9zZ1EzYJXJMiLVoOHkX/embed?start=true&loop=true&delayms=3000"
        width="960"
        height="569"
        allowfullscreen="true"
        mozallowfullscreen="true"
        webkitallowfullscreen="true"
      ></iframe>
    </div>
    <h1>2018-2019</h1>
    <div class="scienceFrames">
      <iframe
        src="https://docs.google.com/presentation/d/e/2PACX-1vRyw9SzB8WpzPBL50MlOU1-o1Y9mhJy3PZLRL9COelatkxf7xh84O4tDi-sGMNuLSjzZ0Fs99e4to5H/embed?start=false&loop=false&delayms=3000"
        frameborder="0"
        width="960"
        height="569"
        allowfullscreen="true"
        mozallowfullscreen="true"
        webkitallowfullscreen="true"
      ></iframe>
      <h2>Extraterrestrial Exploration</h2>
      <iframe
        src="https://docs.google.com/presentation/d/e/2PACX-1vSRXxKdrhwiYI9swxPmIU_PPdJP68-wPhhnfk8aNK4U7QMBi2N5wqCq6W-hkkjNL8T9dh_65vxMySy2/embed?start=false&loop=false&delayms=3000"
        frameborder="0"
        width="960"
        height="569"
        allowfullscreen="true"
        mozallowfullscreen="true"
        webkitallowfullscreen="true"
      ></iframe>
      <br>
      <router-link to="/rocketUp">Link to the game</router-link>
    </div>
  </div>
</template>

<style>
.scienceFrames {
  text-align: center;
}
#science {
  padding-bottom: 400px;
}
</style>
