<template>
  <div id="ss">
    <div class="center">
      <img
        src="https://denmark.headrushapp.com/fileasset/DDKx89B9JrD7EgDbF?authKey=XoJaQRnEtQknEC3Yr"
        alt="Image"
      >
      <br>
      <iframe
        src="https://docs.google.com/presentation/d/e/2PACX-1vTzH2gfg9zbaSwtEu5NgjaqhxK1agEZsjA35KFT1_eBTebMv-Bjfjk7e5sUTAUfzIulLMP1d7NB625k/embed?start=false&loop=false&delayms=3000"
        frameborder="0"
        width="960"
        height="569"
        allowfullscreen="true"
        mozallowfullscreen="true"
        webkitallowfullscreen="true"
      ></iframe>
      <br>
      <img class="picture" src="../assets/SS19_1_Poster.svg" alt="Create a State Project Poster">

    </div>
  </div>
</template>
<style>
.center {
  text-align: center;
}
.center > img {
  width: 80%;
  height: auto;
}
#ss {
  padding-bottom: 500px;
}
.picture{
  width: 250px;
}
</style>
